* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

body {
    font-family: Arial; /* Fonte usada */
    background-color: #f9f9f9;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd; /* adiciona uma linha da cor selecionada em baixo*/
    height: 60px;
    position: relative;
}

header h1 {
    font-size: 22px;
    font-weight: bold; /* bota a fonte em negrito */
    position: absolute; 
    left: 20px;
    top: 50%; /* Centraliza verticalmente */
}

ul.header {
    display: flex;
    list-style: none;
    gap: 15px; /* espaço entre itens*/
    position: absolute; /* nao altera aa sua posição absoluta*/
    right: 20px;
    top: 50%;
    transform: translateY(-50%); /* Corrige a centralização */
}

ul.header li {
    font-size: 22px; 
}

ul.header .search {
    padding: 5px 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: text;
    font-size: 18px;
}

.perfil {
    display: flex;
    gap: 20px;
    padding: 20px;
    position: relative;
    top: 20px;
}

.perfil img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* deixa a foto redonda*/
    object-fit: cover;
    border: 2px solid #fff;
}

.info-perfil {
    display: flex;
    flex-direction: column; /* deixa as fotos em coluna*/
    width: 100%;
}

.nome-perfil {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.botoes button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.botoes .seguir {
    background-color: #036fb8;
    color: #fff;
}

.botoes .mensagem {
    background-color: #c2c1c1;
    color: #000;
}

.numeros {
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}

.numeros ul {
    list-style: none;
    text-align: center;
}

.numeros ul li:first-child { /* seleciona o primeiro elemento li*/
    font-weight: bold;
    font-size: 18px;
}

.biografia {
    font-size: 14px;
    line-height: 1.5;
}

.biografia ul:first-child {
    color: rgba(142, 142, 142, 1);
}

.container ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    margin-top: 20px;
    width: 30%;
    margin-left: 33%
}

.container ul li a {
    text-decoration: none; /* remove o sublinhado*/
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

.feed ul {
    display: flex;
    flex-wrap: wrap; /*quebra linha automaticamente*/
    justify-content: space-between;
    padding: 0 20px; 
    margin: 0; 
    list-style: none;
}

.feed ul img{
    width: 32%; 
    height: 360px;
    margin-bottom: 10px;
    object-fit: cover; /*cover corta a iamgem sem perder qualidade*/
    margin-top: 5px;
}